.footer {
	background-color: $blueD;

	.wrapper {
		@extend %clearfix;
	}

	.footer__logo {
		float: left;
		height: 155px;
		width: 240px;
		padding-top: 50px;
		text-align: left;

		p {
			color: #fff;
			font-size: 12px;
		}

		@media (max-width: $tablets) {
			width: 50%;
		}

		@media (max-width: $phones) {
			width: 100%;
			text-align: center;
			padding: 40px 0 25px;
			height: auto;
		}
	}

	.footer__info {
		@include flex();
		float: right;
		padding-top: 30px;
		padding-bottom: 20px;
		width: calc(100% - 240px);
		text-align: left;
		color: #fff;

		@media (max-width: $tablets) {
			width: 50%;
			@include flex($alignI: center, $justify: space-between, $direction: row, $wrap: wrap  );
		}

		@media (max-width: $phones) {
			display: block;
			width: 100%;
			text-align: center;
			padding: 0 0 25px;
			height: auto;
		}

		.button {
			font-size: 12px;

			@media (max-width: $tablets) {
				width: 49%;
				margin-bottom: 15px;
			}
			@media (max-width: $phones) {
				display: block;
				width: auto;
				margin: 0 auto 20px auto;
			}
		}
		.footer__info__contacts {
			@media (max-width: $tablets) {
				width: 49%;
			}
			@media (max-width: $phones) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.footer__info__contacts a {
			display: block;

			&.tel {
				font-size: 16px;
				color: #fff;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}

			&.mail {
				font-size: 12px;
			}
		}

		.footer__info__socials {
			@media (max-width: $tablets) {
				width: 49%;
			}
			@media (max-width: $phones) {
				width: 100%;
			}
		}
		.footer__info__socials a {
			@include transition(all, 0.3s);
			display: inline-block;

			&:hover {
				@include transform(scale(1.05));
			}
		}
	}

	.footer__nav {
		width: calc(100% - 240px);
		float: right;
		padding-top: 15px;
		border-top: 1px solid rgba(255, 255, 255, .1);

		@media (max-width: $tablets) {
			width: 100%;
			padding-bottom: 30px;
		}
		@media (max-width: $phones) {
			display: none;
		}

		ul {
			@include flex();
			margin: 0;

			li {
				list-style: none;
				padding: 0 46px;

				@media (max-width: $tablets) {
					-webkit-box-ordinal-group: 1;
				    -moz-box-ordinal-group: 1;
				    -webkit-order: 0;
				    -ms-flex-order: 0;
				    order: 0;
				    -webkit-box-flex: 1;
				    -moz-box-flex: 1;
				    -webkit-flex: 1 1 auto;
				    -ms-flex: 1 1 auto;
				    flex: 1 1 auto;
				    -webkit-align-self: auto;
				    -ms-flex-item-align: auto;
				    align-self: auto;
				    padding: 0;
				}

				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
				&:not(:last-child) {
					border-right: 2px solid rgba(255, 255, 255, .1);
				}

				a {
					color: #fff;
					text-decoration: none;
					font-family: $rb;
					font-size: 16px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}


	.payments {
		background-color: #fff;
		@extend %clearfix;

		@media (max-width: $phones) {
				display: none;
			}

		p {
			width: 220px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 -2px;
			text-align: left;
			font-family: $rb;
			color: $blueD;
			font-size: 14px;

			@media (max-width: $tablets) {
				width: 100%;
				display: block;
				text-align: center;
				padding-top: 25px;
			}
		}

		.icons {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 220px);
			margin: 0 -2px;
			padding: 20px 0 15px;
			text-align: justify;
			height: auto;
			line-height: 0;

			@media (max-width: $tablets) {
				width: 100%;
			}

			&:after {
				content: '';
				width: 100%;
				display: inline-block;
				height: 0;
				line-height: 0;
			}

			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}