/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
    height: 715px;
    position: relative;
    
    @include mh750 {
        height: 700px;
    }
    @include mh660 {
        height: 600px;
    }
    @include m1000 {
        height: 500px;
    }
    @include m850 {
        height: 600px;
        .slick-dots {
            bottom: 320px;
            text-align: center;
            padding-left: 0;
        }
    }
    @include m360 {
       .slick-dots {
            bottom: 300px;
        }
    }

    &__slider {
        height: 100%;
    }
    .slick-list,
    .slick-track {height: 100%;}
    &__slide {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 100%;
        background-size: auto 100%;
        .wrapper { 
            height: 100%;
            text-align: left !important;
            &:before {
                height: 100%;
                content: "";
                display: inline-block;
                vertical-align: middle;
                @include m850 {
                    display: none;
                }
            }
        }
        @include m850 {
            padding-bottom: 300px;
        }


        &__info {
            width: 500px;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            h2 {
             font: 36px/48px $rb;
              color: $blue;
              text-align: left;
              text-transform: none;
            }
            p {
                text-align: left;
            }
            @include m850 {
                display: block;
                margin: 40px auto 0;
                h2, h1 {font: 32px/42px $rb; text-align: center}
                p,
                h1 {text-align: center;}
            }
            @include m600 {
                width: 100%;
                padding: 0 10px;
            }
            @include m500 {
                h2, h1 {font: 28px/36px $rb; }
            }
            @include m360 {
                 h2, h1 {font: 26px/30px $rb; margin-bottom: 5px;}
            }
        }
    }

    form {
        position: absolute;
        right: calc((100% - 970px) / 2);
        top: calc(50% - 25px);
        margin: auto;
        height: 270px;
        @include m1000 {
            top: calc(50% - 115px);
            right: 15px;
        }
        @include m850 {
            bottom: 10px;
            left: 0;
            right: 0;
            top: auto;
        }
    }

}

.main-features {
    padding: 50px 0;
    background-color: $orange;

    @media (max-width: 500px) {
        padding-top: 130px;
        padding-bottom: 10px;
    }

    .container {
        @include flex($justify: center, $wrap: wrap);

        @media (max-width: 500px) {
            @include flex($justify: flex-start, $wrap: wrap);
        }

        .box {
            width: 130px;
            margin: 0 15px;

            @media (max-width: $tablets) {
                width: 110px;
            }

            @media (max-width: $phones) {
                width: 33%;
                padding: 0 10px;
                margin: 0 0 30px;
            }

            @media (max-width: 500px) {
                width: 50%;
                padding: 0 10px;
                margin: 0 0 30px;
            }

            &__icon {
                height: 45px;
                margin-bottom: 10px;
            }

            &__text {
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                font-family: $rm;
                height: 72px;
            }
        }
    }
}


/*Icons*/
/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.icon-home, .icon-box-big, .icon-cart, .icon-house, .icon-theatre, 
.icon-case, .icon-hand, .icon-moscov, .icon-man, .icon-calendar, 
.icon-box-small, .icon-chair, .icon-money
{ display: inline-block; background: url('../images/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.icon-home { background-position: -5px -0px; width: 66px; height: 53px; }
.icon-box-big { background-position: -5px -58px; width: 55px; height: 54px; }
.icon-cart { background-position: -5px -117px; width: 55px; height: 49px; }
.icon-house { background-position: -5px -171px; width: 54px; height: 53px; }
.icon-theatre { background-position: -5px -229px; width: 51px; height: 51px; }
.icon-case { background-position: -5px -285px; width: 48px; height: 40px; }
.icon-hand { background-position: -5px -330px; width: 48px; height: 42px; }
.icon-moscov { background-position: -5px -377px; width: 48px; height: 63px; }
.icon-man { background-position: -5px -445px; width: 45px; height: 53px; }
.icon-calendar { background-position: -5px -503px; width: 44px; height: 45px; }
.icon-box-small { background-position: -5px -553px; width: 42px; height: 40px; }
.icon-chair { background-position: -5px -598px; width: 40px; height: 59px; }
.icon-money { background-position: -5px -662px; width: 40px; height: 40px; }

.services {
    padding: 70px 0 50px;
    background-color: #0E0B09;

    @media (min-width: 500px) {
        background-image: url(../images/services.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    h2 {
        color: #fff;
        margin-bottom: 50px;
    }

    .container {
        @include flex($wrap: wrap);

        @media (max-width: 500px) {
            display: block;
        }

        .box {
            width: 22.34%;
            height: 175px;
            background-color: #fff;
            margin-bottom: 30px;

            @media (max-width: $phones) {
                width: 48%;
                height: 150px;
            }

            @media (max-width: 500px) {
                width: 100%;
            }

            &__icon {
                height: 85px;
                padding-top: 10px;
                @extend %vertAlign;

                i {
                    vertical-align: bottom;
                    margin-left: -2px;
                }
            }

            &__text {
                height: calc(100% - 85px);
                @extend %vertAlign;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 95%;
                    font-family: $rb;
                    font-size: 18px;
                    line-height: 24px;

                    @media (max-width: $tablets) {
                        & {
                            line-height: normal;
                            padding: 0 5px;
                            font-size: 17px;

                            br {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.orange {
                background-color: $orange;

                & .box__text span {
                    color: #fff;
                }
            }

        }
    }
}


.autopark {
    padding: 70px 0 50px;

    h2 {
        margin-bottom: 30px;
    }

    &__slider {
        padding: 0 40px;
        margin-bottom: 0;

        @media (max-width: $phones) {
            padding: 0;
            margin-bottom: 30px;
        }
    }

    .slick-slider .slick-list {
        padding: 20px 0;
    }

    .slide {
        text-align: center;
    }
}

.card {
    width: 250px;
    padding: 20px;
    box-shadow: 0px 2px 16px 0px rgba( 0, 0, 0, .31);
    text-align: left;
    display: inline-block;
    font-family: $rl;

    &__title {
        font-family: $rb;
        font-size: 20px;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__image {
        width: 100%;
        height: 110px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__mark, &__mass {
        font-size: 14px;
        font-family: $rl;
    }

    &__price {
        font-size: 16px;
        font-family: $rl;
        margin-bottom: 10px;
    }

    .button {
        padding: 0;
    }
}



.clients {
    padding: 70px 0 50px;
    background-color: #F3F3F3;

    &__title {
        position: relative;
        display: inline-block;
        width: auto;
        margin-bottom: 30px;

        h2 {
            display: inline-block;

            @media (max-width: $phones) {
                display: block;
            }
        }

        .reviews-link {
            @include transition (all, 0.2s);
            position: absolute;
            left: 100%;
            margin-left: 25px;
            margin-top: auto;
            margin-bottom: auto;
            top: 10px;
            font-family: $rb;
            font-size: 18px;
            color: $orange;
            text-decoration: none;
            border-bottom: 2px dotted $orange;

            &:hover {
                border-bottom: 2px solid $orange;
            }

            @media (max-width: $phones) {
                position: static;
                display: inline-block;
                margin-left: 0;
            }
        }
    }

    &__slider {
        padding: 0 70px;
        margin-bottom: 10px;

        @media (max-width: $phones) {
            padding: 0;
            margin-bottom: 30px;
        }
    }

    .slide {
        text-align: center;
        @extend %vertAlign;
        height: 100px;

        @media (max-width: $phones) {
            padding: 0 5px;
        }

        img {
            max-width: 95%;
            max-height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    

}
.slick-arrow {
    @include transition (all, 0.3s);
    width: 49px;
    height: 55px;

    &:before {
        font-size: 49px;
        color: $orange;
    }

    &.slick-prev {
        left: 0;
        margin-top: -27px;
    }
    &.slick-next {
        right: 0;
        margin-top: -27px;
    }

    @media (max-width: $phones) {
        width: 50%;
        top: 100%!important;

        &.slick-prev {
            left: 0;
            margin-top: 0;
            text-align: right;
            padding-right: 15px;
        }
        &.slick-next {
            right: 0;
            margin-top: 0;
            text-align: left;
            padding-left: 15px;
        }
    }
}




.article {
    padding: 70px 0;

    h2 {
        margin-bottom: 35px;
    }

    article {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;

        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;

        text-align: left;

        @media (max-width: $phones) {
            webkit-columns: 1;
            -moz-columns: 1;
            columns: 1;

            -webkit-column-gap: 0;
            -moz-column-gap: 0;
            column-gap: 0;

            font-size: 13px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}