/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
    height: 715px;
    padding: 200px 0 0 0;
    position: relative;
    &__slider {
        height: 100%;
    }
    .slick-list,
    .slick-track {height: 100%;}
    &__slide {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 100%;
        .wrapper { 
            height: 100%;
            text-align: left !important;
            &:before {
                height: 100%;
                content: "";
                display: inline-block;
                vertical-align: middle;
            }
        }
        &__info {
            width: 500px;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            h2 {
                font: 36px/48px $rb;
              color: $blue;
              text-align: left;
            }
            p {
                text-align: left;
            }
        }
    }

    form {
        position: absolute;
        right: calc((100% - 970px) / 2);
        top: calc(50% - 25px);
        margin: auto;
        height: 270px;
    }

}
.article {
    padding: 70px 0;

    h2 {
        margin-bottom: 35px;
    }

    article {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;

        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;

        text-align: left;

        @media (max-width: $phones) {
            webkit-columns: 1;
            -moz-columns: 1;
            columns: 1;

            -webkit-column-gap: 0;
            -moz-column-gap: 0;
            column-gap: 0;

            font-size: 13px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}