// COLORS
// ---------------------------
$blue: #025388;
$blueD: #054B65;
$orange: #FF8200;
$orangeD: #E87700;
$orangeHover: #FF9A31;


// FONTS
// ---------------------------
$v		: 'verdana';
$r		: 'robotoregular';
$rm 	: 'robotomedium';
$rl		: 'robotolight';
$rb		: 'robotobold';



html, body                    	{   }
p                             	{   color: #000;}
h1, h2, h3, h4, h5, p         	{   color: #000;}
.white                          {	color: #FFF;}


// lAYOUT
// ---------------------------

.wrapper                      	{   width: 970px;
								   	margin: 0 auto;
                                   	text-align: center;
                                   	padding: 0 15px;
                                   	@include m1000 {
                                   		width: 100%;
                                   		padding: 0 10px;
                                   	}
                              	}
